$sa-font-family: "Samsonite-icons" !default;
$sa-font-path: "../icons/samsonite" !default;

$icon-ico-apply: "\e900";
$icon-ico-arrow-bottom: "\e901";
$icon-ico-arrow-left: "\e902";
$icon-ico-arrow-right: "\e903";
$icon-ico-arrow-right-white-circle: "\e904";
$icon-ico-arrow-top-circle: "\e905";
$icon-ico-bag: "\e906";
$icon-ico-close: "\e907";
$icon-ico-close-search: "\e908";
$icon-ico-close-thin: "\e909";
$icon-ico-delivery: "\e90a";
$icon-ico-filter: "\e90b";
$icon-ico-full-collection: "\e90c";
$icon-ico-gifting: "\e90d";
$icon-ico-logo: "\e90e";
$icon-ico-menu-bar: "\e90f";
$icon-ico-network: "\e910";
$icon-ico-office-site: "\e911";
$icon-ico-peoples: "\e912";
$icon-ico-personal-service: "\e913";
$icon-ico-search: "\e914";
$icon-ico-secure-payment: "\e915";
$icon-ico-sort-asc: "\e916";
$icon-ico-sort-desc: "\e917";
$icon-ico-star: "\e918";
$icon-ico-license: "\e919";
$icon-ico-address-tag: "\e91a";
$icon-ico-deliver: "\e91b";
$icon-ico-tsa-lock: "\e91c";
$icon-ico-samsonite: "\e91d";
$icon-ico-user: "\e91e";
$icon-ico-people: "\e91f";
$icon-ico-orders: "\e920";
$icon-ico-my-profile: "\e921";
$icon-ico-address-book: "\e922";
$icon-ico-magnify-glass: "\e923";
$icon-ico-info: "\e924";
$icon-ico-long-arrow-up: "\e925";
$icon-ico-location: "\e926";
$icon-ico-line-brands: "\e927";
$icon-ico-cart: "\e928";
$icon-ico-arrow-down: "\e929";
$icon-ico-loyalty: "\e92a";
$icon-ico-tracking: "\e92b";
$icon-ico-facebook: "\e92c";
$icon-ico-currency: "\e92d";
