.search-results > .container {
    overflow: visible;
}

.product-grid {
    .product-tile-col {
        overflow: visible;
        z-index: 3;

        &::before {
            width: 1px;
        }

        &::after {
            height: 1px;
        }

        &:nth-child(2n + 1) {
            &::before {
                width: 1px;
            }
        }
    }
}
